html {
    background-color: floralwhite;}
body{
    border: 5px solid;
    background-color: milk;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: palevioletred;
    text-shadow: 3px 3px 1px pink;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #pink;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
}
img {
    display: block;
    margin: 0 auto;
}
p {
    margin: 0;
    padding: 20px 0;
    color: deeppink;
    text-shadow: 3px 3px 1px pink;

}